{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'sondages/style.css' %}"/>




<h1> {{ question.question_text }}</h1>
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<body>
<div>
<form class="list-group-item" action="{% url 'sondages:vote' question.id %} " method="post">
    {% csrf_token %}
    {% for choice in question.choice_set.all %}
    <div style="display: inline; margin-right : 50px">
      <input  type="radio" name="choice" id="choice{{forloop.counter}}" value="{{ choice.id }}" required/>

       <label for="choice{{forloop.counter}}">{{choice.choice_text }}</label>
    </div>


    {% endfor %}



    {% if question.comment_option == True %}
    <textarea class="form-control" rows="5" name="comment" placeholder="Comment"></textarea>
    {% endif %}


    <br>
    <br>
    <input class="btn btn-primary" type="submit" value="Vote"/>

</form>
</div>
</body>